<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Some property</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>GPU</td>
        <td>Taiwan</td>
        <td>idk</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>CPU</td>
        <td>China</td>
        <td>some text</td>
      </tr>
    </tbody>
  </table>
