<ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-left">
	<li [ngbNavItem]="1">
		<a ngbNavLink routerLink="/home">Home</a>
	</li>

	<li ngbDropdown class="nav-item">
		<a href (click)="false" class="nav-link" ngbDropdownToggle>Warehouses</a>
		<div ngbDropdownMenu>
			<button ngbDropdownItem routerLink="/warehouses" (click)="getWarehouse('gpu_inventory/')">GPU Warehouse</button>
			<button ngbDropdownItem routerLink="/warehouses" (click)="getWarehouse('cpu_inventory/')">CPU Warehouse</button>
			<button ngbDropdownItem routerLink="/warehouses" (click)="getWarehouse('psu_inventory/')">PSU Warehouse</button>
		</div>
	</li>
</ul>

<router-outlet></router-outlet>